// Import your base variables here to set vertical rhythm and for overrides.
@import '../base';

$aether-float-direction: right;
$aether-grid-type: $aether-grid-type-desktop;
$aether-columns: $aether-columns-desktop;
$aether-grid-width: $aether-grid-width-desktop;
$aether-media: $aether-media-desktop;

// Generate column classes for desktop media
@include grid-classes(rtl);
