@import '../base';

//
// @file
// Styles for theme settings
//

.sidebar-layout {
    &:not(#foo) > .form-item {
    @include inline-block;
    label {
      text-indent: 110%;
      white-space: nowrap;
      overflow: hidden;
    }
    label,
    input[type='radio']:checked + label {
      background-repeat: no-repeat;
      background-image: image-url('layouts-sidebar.png');
    }
    &:nth-child(1) {
      label {
        background-position: -5px 0;
      }
      input[type='radio']:checked + label {
        background-position: -5px -88px;
      }
    }
    &:nth-child(2) {
      label {
        background-position: -97px 0;
      }
      input[type='radio']:checked + label {
        background-position: -97px -88px;
      }
    }
    &:nth-child(3) {
      label {
        background-position: -188px 0;
      }
      input[type='radio']:checked + label {
        background-position: -188px -88px;
      }
    }
    &:nth-child(4) {
      label {
        background-position: -281px 0;
      }
      input[type='radio']:checked + label {
        background-position: -281px -88px;
      }
    }
    &:nth-child(5) {
      label {
        background-position: -373px 0;
      }
      input[type='radio']:checked + label {
        background-position: -373px -88px;
      }
    }
    &:nth-child(6) {
      label {
        background-position: -462px 0;
      }
      input[type='radio']:checked + label {
        background-position: -462px -88px;
      }
    }
    &:nth-child(7) {
      label {
        background-position: -553px 0;
      }
      input[type='radio']:checked + label {
        background-position: -553px -88px;
      }
    }
    &:nth-child(8) {
      label {
        background-position: -645px 0;
      }
      input[type='radio']:checked + label {
        background-position: -645px -88px;
      }
    }
    &:nth-child(9) {
      label {
        background-position: -735px 0;
      }
      input[type='radio']:checked + label {
        background-position: -735px -88px;
      }
    }
    &:not(#foo) > input[type='radio'] {
      display: none;
    }
    &:not(#foo) > input[type='radio'] + label {
      height: 90px;
      width: 90px;
      margin-right: 3px;
      cursor: pointer;
      display: block;
    }
  }
}

.header-layouts,
.user-layouts,
.preface-layouts,
.postscript-layouts,
.footer-layouts {
  .form-type-select {
    &:nth-child(2n+2) {
      @include float(left);
    }
    &:nth-child(2n+1) {
      clear: right;
    }
  }
}

.navigation-layouts {
  .form-type-select {
    &:nth-child(2n+1) {
      @include float(left);
    }
    &:nth-child(2n+2) {
      clear: right;
    }
  }
}

select {
  &.col-position {
    width: 100px;
    margin-right: 5px;
  }
  &.col-width {
    width: 140px;
  }
}

.ui-tabs .ui-tabs-nav li {
  text-indent: 110%;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 0;
  padding-right: 3px;
  a {
    height: 100px;
    width: 100px;
    display: block;
    border-radius: 0;
  }
  a,
  &.ui-tabs-selected a {
    background-image: image-url('layouts-device.png');
    background-repeat: no-repeat;
    background-color: transparent;
  }
  .device-1 {
    background-position: 0 0;
  }
  &.ui-tabs-selected .device-1 {
    background-position: 0 -101px;
  }
  .device-2 {
    background-position: -115px 0;
  }
  &.ui-tabs-selected .device-2 {
    background-position: -115px -101px;
  }
  .device-3 {
    background-position: -225px 0;
  }
  &.ui-tabs-selected .device-3 {
    background-position: -225px -101px;
  }
  .device-4 {
    background-position: -337px 0;
  }
  &.ui-tabs-selected .device-4 {
    background-position: -337px -101px;
  }
  .device-5 {
    background-position: -455px 0;
  }
  &.ui-tabs-selected .device-5 {
    background-position: -455px -101px;
  }
}

/* Reposition layout options to top of tabs, not ideal but necessary */
.form-item-layout-options {
  position: absolute;
  top: 0;
  height: 130px;
  overflow: hidden;
}

/* Reposition tabs under layout options */
.ui-tabs .ui-tabs-nav {
  padding-top: 150px;
}

.ui-tabs .ui-tabs-panel {
    padding: 0.5em 0;
}

.block-system .contextual-links-wrapper {
  display:none!important;
}

.page-admin-appearance-settings {
  #content .content-inner {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .main form {
    position:relative;
    z-index:5;
  }
}

.region-sidebar-second,
.region-sidebar-first,
/*.secondary,*/
#block-system-help {
  display:none;
}

