/*
 * ==================================================
 * Tablet Landscape
 * ==================================================
 */
@media only screen and (min-width: 980px) and (max-width: 1159px) {
  .g-d-p1, .g-d-p2, .g-d-p3, .g-d-p4, .g-d-p5, .g-d-p6, .g-d-p7, .g-d-p8, .g-d-p9, .g-d-p10, .g-d-p11, .g-d-p12 {
    margin-left: 0;
  }

  .g-d-c1, .g-d-c2, .g-d-c3, .g-d-c4, .g-d-c5, .g-d-c6, .g-d-c7, .g-d-c8, .g-d-c9, .g-d-c10, .g-d-c11, .g-d-c12 {
    width: auto;
  }

  .g-d-right {
    float: right;
  }

  .g-d-c12,
  .g-d-f,
  .g-d-l,
  .g-d-clear {
    clear: none;
  }

  .g-tl-c1, .g-tl-c2, .g-tl-c3, .g-tl-c4, .g-tl-c5, .g-tl-c6, .g-tl-c7, .g-tl-c8, .g-tl-c9, .g-tl-c10, .g-tl-c11, .g-tl-c12 {
    float: right;
  }

  .g-tl-p1 {
    margin-left: 0%;
    margin-right: -100%;
  }

  .g-tl-p2 {
    margin-left: 8.51293%;
    margin-right: -100%;
  }

  .g-tl-p3 {
    margin-left: 17.02586%;
    margin-right: -100%;
  }

  .g-tl-p4 {
    margin-left: 25.53879%;
    margin-right: -100%;
  }

  .g-tl-p5 {
    margin-left: 34.05172%;
    margin-right: -100%;
  }

  .g-tl-p6 {
    margin-left: 42.56466%;
    margin-right: -100%;
  }

  .g-tl-p7 {
    margin-left: 51.07759%;
    margin-right: -100%;
  }

  .g-tl-p8 {
    margin-left: 59.59052%;
    margin-right: -100%;
  }

  .g-tl-p9 {
    margin-left: 68.10345%;
    margin-right: -100%;
  }

  .g-tl-p10 {
    margin-left: 76.61638%;
    margin-right: -100%;
  }

  .g-tl-p11 {
    margin-left: 85.12931%;
    margin-right: -100%;
  }

  .g-tl-p12 {
    margin-left: 93.64224%;
    margin-right: -100%;
  }

  .g-tl-right {
    display: inline;
    float: left;
  }

  .g-tl-left {
    display: inline;
    float: right;
  }

  .g-tl-f {
    clear: right;
  }

  .g-tl-l {
    clear: left;
    margin-right: 0;
    #margin-right: -1em;
  }
}
/*
 * ==================================================
 * Tablet Portrait
 * ==================================================
 */
@media only screen and (min-width: 768px) and (max-width: 979px) {
  .g-d-p1, .g-d-p2, .g-d-p3, .g-d-p4, .g-d-p5, .g-d-p6, .g-d-p7, .g-d-p8, .g-d-p9, .g-d-p10, .g-d-p11, .g-d-p12 {
    margin-left: 0;
  }

  .g-d-c1, .g-d-c2, .g-d-c3, .g-d-c4, .g-d-c5, .g-d-c6, .g-d-c7, .g-d-c8, .g-d-c9, .g-d-c10, .g-d-c11, .g-d-c12 {
    width: auto;
  }

  .g-d-right {
    float: right;
  }

  .g-d-c12,
  .g-d-f,
  .g-d-l,
  .g-d-clear {
    clear: none;
  }

  .g-t-c1, .g-t-c2, .g-t-c3, .g-t-c4, .g-t-c5, .g-t-c6, .g-t-c7, .g-t-c8, .g-t-c9, .g-t-c10, .g-t-c11, .g-t-c12 {
    float: right;
  }

  .g-t-p1 {
    margin-left: 0%;
    margin-right: -100%;
  }

  .g-t-p2 {
    margin-left: 8.56742%;
    margin-right: -100%;
  }

  .g-t-p3 {
    margin-left: 17.13483%;
    margin-right: -100%;
  }

  .g-t-p4 {
    margin-left: 25.70225%;
    margin-right: -100%;
  }

  .g-t-p5 {
    margin-left: 34.26966%;
    margin-right: -100%;
  }

  .g-t-p6 {
    margin-left: 42.83708%;
    margin-right: -100%;
  }

  .g-t-p7 {
    margin-left: 51.40449%;
    margin-right: -100%;
  }

  .g-t-p8 {
    margin-left: 59.97191%;
    margin-right: -100%;
  }

  .g-t-p9 {
    margin-left: 68.53933%;
    margin-right: -100%;
  }

  .g-t-p10 {
    margin-left: 77.10674%;
    margin-right: -100%;
  }

  .g-t-p11 {
    margin-left: 85.67416%;
    margin-right: -100%;
  }

  .g-t-p12 {
    margin-left: 94.24157%;
    margin-right: -100%;
  }

  .g-t-right {
    display: inline;
    float: left;
  }

  .g-t-left {
    display: inline;
    float: right;
  }

  .g-t-f {
    clear: right;
  }

  .g-t-l {
    clear: left;
    margin-right: 0;
    #margin-right: -1em;
  }
}
/*
 * ==================================================
 * Handheld Landscape
 * ==================================================
 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .g-d-p1, .g-d-p2, .g-d-p3, .g-d-p4, .g-d-p5, .g-d-p6, .g-d-p7, .g-d-p8, .g-d-p9, .g-d-p10, .g-d-p11, .g-d-p12 {
    margin-left: 0;
  }

  .g-d-c1, .g-d-c2, .g-d-c3, .g-d-c4, .g-d-c5, .g-d-c6, .g-d-c7, .g-d-c8, .g-d-c9, .g-d-c10, .g-d-c11, .g-d-c12 {
    width: auto;
  }

  .g-d-right {
    float: right;
  }

  .g-d-c12,
  .g-d-f,
  .g-d-l,
  .g-d-clear {
    clear: none;
  }

  .g-hl-c1, .g-hl-c2, .g-hl-c3, .g-hl-c4, .g-hl-c5, .g-hl-c6, .g-hl-c7, .g-hl-c8, .g-hl-c9, .g-hl-c10, .g-hl-c11, .g-hl-c12 {
    float: right;
  }

  .g-hl-p1 {
    margin-left: 0%;
    margin-right: -100%;
  }

  .g-hl-p2 {
    margin-left: 8.76289%;
    margin-right: -100%;
  }

  .g-hl-p3 {
    margin-left: 17.52577%;
    margin-right: -100%;
  }

  .g-hl-p4 {
    margin-left: 26.28866%;
    margin-right: -100%;
  }

  .g-hl-p5 {
    margin-left: 35.05155%;
    margin-right: -100%;
  }

  .g-hl-p6 {
    margin-left: 43.81443%;
    margin-right: -100%;
  }

  .g-hl-p7 {
    margin-left: 52.57732%;
    margin-right: -100%;
  }

  .g-hl-p8 {
    margin-left: 61.34021%;
    margin-right: -100%;
  }

  .g-hl-p9 {
    margin-left: 70.10309%;
    margin-right: -100%;
  }

  .g-hl-p10 {
    margin-left: 78.86598%;
    margin-right: -100%;
  }

  .g-hl-p11 {
    margin-left: 87.62887%;
    margin-right: -100%;
  }

  .g-hl-p12 {
    margin-left: 96.39175%;
    margin-right: -100%;
  }

  .g-hl-right {
    display: inline;
    float: left;
  }

  .g-hl-left {
    display: inline;
    float: right;
  }

  .g-hl-f {
    clear: right;
  }

  .g-hl-l {
    clear: left;
    margin-right: 0;
    #margin-right: -1em;
  }
}
/*
 * ==================================================
 * Handheld Portrait
 * ==================================================
 */
@media only screen and (max-width: 479px) {
  .g-d-p1, .g-d-p2, .g-d-p3, .g-d-p4, .g-d-p5, .g-d-p6, .g-d-p7, .g-d-p8, .g-d-p9, .g-d-p10, .g-d-p11, .g-d-p12 {
    margin-left: 0;
  }

  .g-d-c1, .g-d-c2, .g-d-c3, .g-d-c4, .g-d-c5, .g-d-c6, .g-d-c7, .g-d-c8, .g-d-c9, .g-d-c10, .g-d-c11, .g-d-c12 {
    width: auto;
  }

  .g-d-right {
    float: right;
  }

  .g-d-c12,
  .g-d-f,
  .g-d-l,
  .g-d-clear {
    clear: none;
  }

  .g-h-c1, .g-h-c2, .g-h-c3, .g-h-c4, .g-h-c5, .g-h-c6, .g-h-c7, .g-h-c8, .g-h-c9, .g-h-c10, .g-h-c11, .g-h-c12 {
    float: right;
  }

  .g-h-p1 {
    margin-left: 0%;
    margin-right: -100%;
  }

  .g-h-p2 {
    margin-left: 8.95522%;
    margin-right: -100%;
  }

  .g-h-p3 {
    margin-left: 17.91045%;
    margin-right: -100%;
  }

  .g-h-p4 {
    margin-left: 26.86567%;
    margin-right: -100%;
  }

  .g-h-p5 {
    margin-left: 35.8209%;
    margin-right: -100%;
  }

  .g-h-p6 {
    margin-left: 44.77612%;
    margin-right: -100%;
  }

  .g-h-p7 {
    margin-left: 53.73134%;
    margin-right: -100%;
  }

  .g-h-p8 {
    margin-left: 62.68657%;
    margin-right: -100%;
  }

  .g-h-p9 {
    margin-left: 71.64179%;
    margin-right: -100%;
  }

  .g-h-p10 {
    margin-left: 80.59701%;
    margin-right: -100%;
  }

  .g-h-p11 {
    margin-left: 89.55224%;
    margin-right: -100%;
  }

  .g-h-p12 {
    margin-left: 98.50746%;
    margin-right: -100%;
  }

  .g-h-right {
    display: inline;
    float: left;
  }

  .g-h-left {
    display: inline;
    float: right;
  }

  .g-h-f {
    clear: right;
  }

  .g-h-l {
    clear: left;
    margin-right: 0;
    #margin-right: -1em;
  }
}
