/*
 * ==================================================
 * Blocks
 * ==================================================
 */

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

.block {
  @include margin-trailer(1, $base-font-size);
}

#user-login-form {
  @extend %inline-login;
}

/* Search block form */ 

#search-block-form,
#islandora-solr-simple-search-form {
  label {
    display: none;
  }
  float: right;
  @include margin-trailer(1);
  @include margin-leader(0.8);
}

#block-blockify-blockify-logo {
  @include margin-trailer(0.5);
}

%site-names-vrhythm {
  @include margin-trailer(0.1);
  @include adjust-font-size-to($font-size-lg, 1.5);
  font-weight: bold;
}

%ribbon {
  @include border-right-radius(5px);
  margin-left: -1.6em;
  position: relative;
  &:before {
    content: "";
    display: block;
    left: -2em;
    z-index: -1;
  }
}

%ribbon-color-1 {
  border: 0.85em solid #363636;
  border-left-color: transparent;
  border-right-width: 1.5em;
}

%ribbon-color-2 {
  border: 0.85em solid #ccc;
  border-left-color: transparent;
  border-right-width: 1.5em;
}

%ribbon-text {
  position: absolute;
  top: -1em;
  padding-left: 0.5em;
}

#block-blockify-blockify-site-name {
  color: #fff;
  @extend %ribbon;
  @extend %ribbon-color-1;
  @extend %site-names-vrhythm;
  h1 {
    @include adjust-font-size-to($font-size-normal, 1.3);
    font-weight: bold;
  }
  .block-inner {
    @extend %ribbon-text;
  }
}

#block-blockify-blockify-site-slogan {
  color: $link-color;
  @extend %ribbon;
  margin-left: -0.8em;
  @extend %ribbon-color-2;
  @extend %site-names-vrhythm;
  .block-inner {
    @extend %ribbon-text;
  }
}
