/* Form vertical rhythm */

// Define consistent border, margin, and padding

fieldset {
  border-color: $text-border-alt;
  margin: 0 2px;
  // Apply borders and padding that keep the vertical rhythm.
  @include apply-side-rhythm-border(top,    $width: 1px, $lines: 0.35);
  @include apply-side-rhythm-border(bottom, $width: 1px, $lines: 0.65);
  @include apply-side-rhythm-border(left,  $width: 1px, $lines: 0.65);
  @include apply-side-rhythm-border(right, $width: 1px, $lines: 0.65);
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

.form-item,
.form-actions {
  @include margin-leader(0);
  @include margin-trailer(0, $font-size-normal);
}

// system.theme.css override
.container-inline .form-actions,
.container-inline.form-actions,
#edit-basic.container-inline {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

.form-type-textfield,
.form-type-date,
.form-type-select,
.form-type-file,
.form-type-managed-file,
.form-type-password {
  @include margin-leader(1, $font-size-normal);
  @include margin-trailer(1, $font-size-normal);
}

.form-checkboxes .form-item,
.form-radios .form-item {
  @include margin-leader(0, $font-size-normal);
  @include margin-trailer(0, $font-size-normal);
}

.vertical-tabs .fieldset-description {
  @include margin-leader(0.5, $font-size-normal);
}

input.password-confirm,
input.password-field {
  margin-bottom: 0;
}

.form-item .password-strength {
  float: none;
  @include margin-leader(1);
  @include margin-trailer(1);
  width: 17em;
}

div.form-item div.password-suggestions {
  @include rhythm(2);
}

.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.365em;
}

.form-item,
.form-actions {
  margin-top: 1em;
  margin-bottom: 1em;
}
tr.odd .form-item,
tr.even .form-item {
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
}

#user-login-form {
  text-align:  left;
}

#user-login-form {
  @include margin-leader(0.4);
  .item-list ul {
    margin: $base-line-height 0 0 0 !important;
    li {
      list-style: none outside none;
    }
  }
}

/* Responsive forms */

// Make advanced search form inline for any browser size
#edit-basic .form-item input {
  width: 75%;
}

input[type=file] {
  max-width: 100%;
}

input[type=text],
input[type=password],
textarea {
  line-height: $base-line-height;
  max-width: 100%;
  padding: 2px;
}

/* Form styling */

form > div,
input[type=text],
input[type=password],
textarea {
  @include border-radius(3px);
}

.form-item {
  .description {
    color: adjust-color($text-color, $lightness: 30);
  }
}

.marker,
.form-required {
  color: #f00;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid red;
}

.form-item .description {
  font-size: 0.85em;
}

// Login form

#user-login-form .item-list ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
