/*
 * ==================================================
 * Islandora overrides
 * ==================================================
 */

// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* Islandora Solr Facet block */

.islandora_solr_search_facet_list .plusminus .minus {
  display: none;
}

.islandora_solr_search_facet_wrap {
  ul {
    @include leader(0.5);
    @include trailer(0.5);
    padding-left: 0;
    li {
      border-bottom: 1px solid #ddd;
      @include adjust-font-size-to($font-size-md, 1.25);
      list-style: none;
    }
  }
  .shown-toggle {
    @include adjust-font-size-to($font-size-md, 1);
    @include trailer(1);
  }
  .islandora_solr_search_facet {
    @include trailer(1);
  }
}

/* Islandora Search results */

.scholar_pdf a {
  border-bottom: 0;
  padding-bottom: 0;
  &:hover {
    border-bottom: 0;
  }
}

/* Islandora Inline Query block */

.islandora-solr-search-query-x-icon {
  @include font-icon-base(entypo, 1em, 0em);
  @extend %entypo-cancel-circle;
  &:before {
    color: $link-color;
  }
  a {
    position: absolute;
    text-indent: -9999px;
    white-space: nowrap;
    width: 1em;
  }
}

.islandora-solr-search-query-inline {
  @include background-image(linear-gradient(left, #ededed, #f4f4f4));
}