/*
 * ==================================================
 * Islandora overrides
 * ==================================================
 */

// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* Islandora Solr Facet block */

.islandora_solr_search_facet_list .plusminus {
  .minus, .plus {
  display: none;
  }
}

.islandora_solr_search_facet_wrap {
  ul {
    @include leader(0.5);
    @include trailer(0.5);
    padding-left: 0;
    li {
      border-bottom: 1px solid #ddd;
      @include adjust-font-size-to($font-size-md, 1.25);
      list-style: none;
    }
  }
  .shown-toggle {
    @include adjust-font-size-to($font-size-md, 1);
    @include trailer(1);
  }
  .islandora_solr_search_facet {
    @include trailer(1);
  }
}

/* Islandora Search results */

.scholar_pdf {
  margin-top: 1px;
  a.button {
    border-color: $button-border-1 $button-border-2 $button-border-3;
    padding-left: 21px;
    @include background(image-url('button-pdf-darkgrey.png'), linear-gradient($button-color-1, $button-color-3));
    background-position: 6px 5px, 0 0;
    background-repeat: no-repeat, repeat;
    &:hover {
      @include background(image-url('button-pdf-darkgrey.png'), linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3));
      background-position: 6px 5px, 0 0;
      background-repeat: no-repeat, repeat;
    }
    &:active, &:focus {
      border-color: $text-border-alt-2 $text-border-alt $text-border;
      @include background(image-url('button-pdf-darkgrey.png'), linear-gradient($button-color-active-1, $button-color-active-2 33%, $button-color-active-3));
      background-position: 6px 5px, 0 0;
      background-repeat: no-repeat, repeat;
    }
  }

  a.supplement {
    border-color: $button-border-1 $button-border-2 $button-border-3;
    padding-left: 21px;
    @include background(image-url('button-docs-darkgrey.png'), linear-gradient($button-color-1, $button-color-3));
    background-position: 6px 5px, 0 0;
    background-repeat: no-repeat, repeat;
    &:hover {
      @include background(image-url('button-docs-darkgrey.png'), linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3));
      background-position: 6px 5px, 0 0;
      background-repeat: no-repeat, repeat;
    }
    &:active, &:focus {
      border-color: $text-border-alt-2 $text-border-alt $text-border;
      @include background(image-url('button-docs-darkgrey.png'), linear-gradient($button-color-active-1, $button-color-active-2 33%, $button-color-active-3));
      background-position: 6px 5px, 0 0;
      background-repeat: no-repeat, repeat;
    }
  }

}

/* Islandora Inline Query block */

#block-islandora_solr_search-scholar_current_query ul li {
  margin-right: 1em;
}

.islandora-solr-search-query-x-icon {
  @include font-icon-base(entypo, 1em, 0, 0);
  @extend %entypo-cancel-circle;
  &:before {
    color: $link-color;
  }
  a {
    position: absolute;
    text-indent: -9999px;
    white-space: nowrap;
    width: 1em;
    .ie6-8 & {
      position: relative;
      text-indent: 0px;
      width: auto;
    }
  }
}

#block-islandora_solr_search-scholar_current_query {
  @include trailer(0.5);
}

.islandora-solr-simple-adv-search {
  @include adjust-font-size-to($font-size-sm);
  a {
    @include link-colors($link-color-alt4, $hover: $link-color-hover-alt4, $focus: $link-color-hover-alt4, $visited: $link-color-visited-alt4, $active: $link-color-active-alt4)
  }
}

#islandora-solr-simple-search-form {
  @include trailer(0);
  @include respond-to(tablet) {
    .form-text {
      width: 200px;
    }
  }
  @include respond-above(tablet) {
    .form-text {
      width: 340px;
    }
  }
  @include respond-to(handheld-landscape) {
    margin-top: 0;
    .form-text {
      width: 320px;
    }
  }
  @include respond-to(handheld) {
    @include leader(0.5);
    .form-text {
      width: 195px;
    }
  }
}

.islandora-solr-search-query-inline {
  @include padding-leader(0.25);
  @include padding-trailer(0.25);
  @include background(image-url('solr-search-magglass.png') 12px 10px no-repeat,linear-gradient(left, #ededed, #f4f4f4));
  dl {
    padding-left: 35px;
  }
  dd, dt {
    @include adjust-font-size-to($font-size-normal, 0.85);
  }
}



input.form-my-list-exists {
  @include background(image-url('button-list-darkgrey.png'), linear-gradient($button-color-1, $button-color-3));
  background-position: 6px 7px, 0 0;
  background-repeat: no-repeat, repeat;
  padding-left: 24px;
  &:hover {
    @include background(image-url('button-list-darkgrey.png'), linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3));
    background-position: 6px 7px, 0 0;
    background-repeat: no-repeat, repeat;
  }
  &:active {
    @include background(image-url('button-list-darkgrey.png'), linear-gradient($button-color-active-1, $button-color-active-2 33%, $button-color-active-3));
    background-position: 6px 7px, 0 0;
    background-repeat: no-repeat, repeat;
  }
}

#islandora-bibliography-citation-form .form-submit, input.form-my-list-add {
  @include background(image-url('button-addlist-darkgrey.png'), linear-gradient($button-color-1, $button-color-3));
  background-position: 6px 7px, 0 0;
  background-repeat: no-repeat, repeat;
  padding-left: 28px;
  &:hover {
    @include background(image-url('button-addlist-darkgrey.png'), linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3));
    background-position: 6px 7px, 0 0;
    background-repeat: no-repeat, repeat;
  }
  &:active {
    @include background(image-url('button-addlist-darkgrey.png'), linear-gradient($button-color-hover-1, $button-color-hover-2 33%, $button-color-hover-3));
    background-position: 6px 7px, 0 0;
    background-repeat: no-repeat, repeat;
  }
}

body[class^="page-islandora-solr-search"] #content-header,
body[class*=" page-islandora-solr-search"] #content-header {
  display: none;
}

.islandora-solr-search-count-limit,
.islandora-solr-result-count,
.islandora-solr-search-pager-top {
  @include grid-item-base();
}

.islandora-solr-search-controls {
  @include rhythm-borders(1px, 0.5);
  border-color: #d6d6d6;
  border-style: solid;
  background-color: #f0f0f0;
  @include border-radius(5px);
  @include trailer(0.5);
  @include nested-container;
  .item-list ul { margin: 0; padding: 0; }
  .islandora-solr-search-count-limit { @include span-columns(4); ul { padding-left: 8px; } }
  .islandora-solr-result-count {
    @include span-columns(3);
    #islandora_solr_result_count {
      padding-left: 30px;
    }
   }
  .islandora-solr-search-pager-top {
    @include span-columns(5, last);
    .item-list { float: right; }
    .pager-last, .pager-first {
      display: none;
    }
  }
}
