/*
 * ==================================================
 * Messages
 * ==================================================
 */

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* Base alerts */

div.messages {
  @include background-image(linear-gradient(#5bc0de, #339bb9));
  @include border-radius(4px);
  @include margin-trailer(1, $font-size-normal);
  @include rhythm-borders(1px, 0.5, $font-size-normal, solid);
  @include text-shadow(rgba(255,255,255,.5) 0 1px 0);
  background-position: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  position: relative;
  &.status {
    @include background-image(linear-gradient(#deecc9, #cfe4ad));
  }
  &.warning {
    @include background-image(linear-gradient(#fceec1, #eedc94));
  }
  &.error {
    @include background-image(linear-gradient(#ee5f5b, #c43c35));
    @include text-shadow(rgba(0, 0, 0, 0.25) 0 -1px 0);
    color: white;
  }
}
