/*
 * ==================================================
 * Navigation
 * Specific page section nav styling.
 *
 * General link styling is located in normalize.scss
 * ==================================================
 */

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

.region-user-first {
  display: none;
  color: #B9B9B9;
  background-color: #363636;
  @include border-bottom-left-radius(5px);
}

.ie6-8 .region-user-first {
  display: none !important;
}

/* Primary and Secondary menus */

#primary {
  .grid-dis-nav & { // If main-menu doesn't adhere to the grid, make the list horizontal
    > li {
      @include horizontal-list-item($typographic-indent, left);
    }
  }
  .grid-en-nav & { // If main-menu adheres to the grid, center the text
    > li {
      > a {
        text-align: center;
      }
    }
  }
}

.region-user-second .block-menu {
  .block-title {
    @extend .element-invisible;
  }
  // remove when disable system menu css
  li.leaf {
    padding-top: 0;
  }
}

// Secondary links get a default styling and must be in upper right region

%round-bottom-menu {
  background-color: #363636;
  @include border-bottom-radius(5px);
  padding: 0 $typographic-indent 6px $typographic-indent;
  > li {
    a {
      text-transform: uppercase;
      @include link-colors($link-color-alt, $link-color-hover-alt, $link-color-active-alt, $link-color-visited-alt, $link-color-hover-alt);
      &.active { color: $link-color-active-alt }
    }
  }
}

#block-menu-secondary-links {
  ul.menu {
    float: right;
    @extend %round-bottom-menu;
    margin: 0;
  > li {
      @include horizontal-list-container;
      @include horizontal-list-item(10px, left);
      @include adjust-font-size-to($font-size-sm, 0.4);
      border-right: 1px solid $link-color-alt;
      &.last {
        border-right: 0px;
      }
    }
  }
}

// Primary links block gets fat styling

@include font-icon-family(entypo);

.ie6-8 #block-menu-primary-links {
  display: block !important;
}

#block-menu-primary-links {
  @extend %above-handheld-landscape-visible !optional;
  ul { padding-left: 0; }
  a {
    @include link-colors($link-color-alt3, $link-color-hover-alt3, $link-color-active-alt3, $link-color-visited-alt3, $link-color-hover-alt3);
    @include adjust-font-size-to($font-size-lg, 1);
    border-bottom: 0;
  }
  li {
    padding-left: 10px;
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
    @include transition-duration(0.2s);
    &:hover, &:focus {
      background-color: #eaeaea;
    }
    a {
      @include font-icon-base(entypo, 1.1em);
      &.menu-item-id-308 { @extend %entypo-user; }
      &.menu-item-id-172 { @extend %entypo-users; }
      &.menu-item-id-288 { @extend %entypo-docs; }
      &.menu-item-id-290 { @extend %entypo-folder; }
      &.menu-item-id-289 { @extend %entypo-archive; }
      &.menu-item-id-274 { @extend %entypo-upload; }
    @include padding-leader(0.5);
    @include padding-trailer(0.5);
      text-decoration: none;
    }
    list-style-image: none;
    list-style-type: none;
    border-top: 1px solid #cfcfcf;
    &.last {
      border-bottom: 1px solid #cfcfcf;
    }
  }
}

/* Navigation bar */

#navigation {

  .block {
    @include margin-trailer(0);
  }

  .block-menu .block-title,
  .block-menu-block .block-title {
    @include element-invisible();
  }

  .links, /* Main menu and secondary menu links */
  .menu { /* Menu block links */
    margin: 0;
    padding: 0;
    text-align: left; /* LTR */

    li { /* A simple method to get navigation links to appear in one line. */
      float: left; /* LTR */
      padding: 0 10px 0 0; /* LTR */
      list-style-type: none;
      list-style-image: none;
    }
  }
}


/* Footer */

.footer-columns, .footer-wrapper .footer {
  @include padding-leader(1);
  color: lighten($link-color-alt, 20);
  h2 {
    &.block-title, &.title {
      padding-left: 10px;
      background-color: #363636;
      @include border-radius(5px);
      @include adjust-font-size-to($font-size-md, 1);
    }
  }
  a {
    @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  }
  ul {
    padding-left: 10px;
    li, li.leaf {
      list-style: none;
    }
  }
}

/* Breadcrumbs */

.breadcrumb {
  @include margin-leader(0);
  @include margin-trailer(1);
}

.breadcrumb {
  color: adjust-color($link-color-alt, $lightness: -10);
  @include margin-leader(0);
  @include margin-trailer(0);
  margin-left: 0;
  padding-left: 0;
a {
  @include link-colors($link-color-alt, $hover: $link-color-hover-alt, $focus: $link-color-hover-alt, $visited: $link-color-visited-alt, $active: $link-color-active-alt);
  padding: 0;
  }
}

/* Pager */

.pager { /* A list of page numbers when more than 1 page of content is available. */
  clear: both;
  padding: 0;
  text-align: center;
}

%pager-item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager-item,      /* A list item containing a page number in the list of pages. */
.pager-first,     /* The first page's list item. */
.pager-previous,  /* The previous page's list item. */
.pager-next,      /* The next page's list item. */
.pager-last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis */
  @extend %pager-item;
}

.pager-current { /* The current page's list item. */
  @extend %pager-item;
  font-weight: bold;
}


/* Menus */

ul li.expanded {
  list-style-image: inline-image("menu-expanded.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-expanded.png);
  }
  list-style-type: circle;
}
ul li.collapsed {
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-collapsed.png);
  }
  list-style-type: disc;
}
ul li.leaf {
  list-style-image: inline-image("menu-leaf.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *list-style-image: url(../images/menu-leaf.png);
  }
  list-style-type: square;
  &.comments {
    margin: 0;
  }
}

/* More Links */

.more-link {
  text-align: right; /* LTR */
}

.more-help-link {
  text-align: right; /* LTR */
}
.more-help-link a {
  background-image: inline-image("help.png");
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *background-image: url(../images/help.png);
  }
  background-position: 0 50%; /* LTR */
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px; /* LTR */
}