/*
 * ==================================================
 * Page
 * 
 * Styling for elements found in page.tpl.php
 * ==================================================
 */

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* Vertical Rhythm */

// Add and/or remove page elements as your grid needs. 

.main-menu,
.navigation,
.preface,
.feature,
#content,
.postscript,
.sidebar,
#footer {
  @include margin-trailer(1, $base-font-size);
}

.content-inner {
  @include margin-leader(1, $base-font-size);
}

.region-header {
  float: right;
}

// Skip link is hidden until it's tabbed to.
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/* Background colors */

body {
  &.not-front, &.front, .postscript-wrapper {
    background-color: #e6e6e6;
  }
}

#header, #main {
  background-color: #f4f4f4;
}

/* Header */

#page {
  border-top: 6px solid #363636;
}

.branding {

  .name-and-slogan {
    @include inline-block;
    color: #333;
    border-left: 1px solid #C7C7C7;
    &.with-logo {
      padding: {
        top: 3px;
        left: 15px;
      }
      padding-left: 10px;
      margin-top: 5px;
    }
  }

  .logo {
    @include float(left);
//  @extend .element-invisible;
    @include margin-trailer(0.5);
    padding-right: 10px;
  }

  .site-name {
    @include adjust-font-size-to($font-size-xxl,0.8);
    // Target webkit because of font size difference with small-caps
    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @include adjust-font-size-to($font-size-xxxl,0.8);
    }
    @include margin-leader(0);
    @include margin-trailer(0.4, $font-size-xxl);
    font-family: $site-name-font-family;
    font-weight: normal;
    @extend %uppercase;
    a {
      @include link-colors($link-color-alt2, $hover: $link-color-alt2, $focus: $link-color-alt2, $visited: $link-color-alt2, $active: $link-color-alt2);
      text-decoration: none;
    }
  }

  .site-slogan {
    font-variant: small-caps;
    letter-spacing:1px;
    font-family: $site-name-font-family;
    font-weight: normal;
    @include adjust-font-size-to($font-size-xl,0.85);
    @include margin-trailer(0.185, $font-size-xl);
  }

}

/* Postscript */ 

.postscript-wrapper {
  @include margin-leader(3);
}

.postscript .region {
  @include margin-leader(-1.5);
  @include margin-trailer(1.5);
}

/* Footer */

.footer-columns {
  background-color: rgb(87, 87, 87);
  @include border-radius(5px);
  dl, menu, ol, ul, .item-list ul {
    margin: 0 0 1.5em 0;
  }
}