/*
 * ==================================================
 * Typography
 * ==================================================
 */

// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* Responsive Typography */

// Read Trent Walton's blog on fluid type http://trentwalton.com/
// "Anything from 45 to 75 characters is widely regarded as a satisfactory
// length of line for a single-column" ~
// http://www.webtypography.net/Rhythm_and_Proportion/Horizontal_Motion/2.1.2/

html {
  @include respond-to(desktop){
//    font-size: 145%;
  }
  @include respond-to(tablet-landscape){
//    font-size: 120%;
  }
  @include respond-to(tablet){
//    font-size: 98%;
  }
  @include respond-to(handheld-landscape){
//    font-size: 95%;
  }
  @include respond-to(handheld){
//    font-size: 92%;
  }
}

/* Headings/small */
// Addresses font sizes and margins set differently in IE6/7
// Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  font-style: normal;
  font-weight: 400;
}

h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  @include adjust-font-size-to($font-size-h1,1.2);
  @include margin-leader(0, $font-size-h1);
  @include margin-trailer(0.8, $font-size-h1);
}

h2 {
  @include adjust-font-size-to($font-size-h2,1.1);
  @include margin-leader(0, $font-size-h2);
  @include margin-trailer(0.9, $font-size-h2);
}

h3 {
  @include adjust-font-size-to($font-size-h3,1);
  @include margin-leader(0, $font-size-h3);
  @include margin-trailer(1, $font-size-h3);
}

h4 {
  @include adjust-font-size-to($font-size-h4,1);
  @include margin-leader(0, $font-size-h4);
  @include margin-trailer(1, $font-size-h4);
}

h5 {
  @include adjust-font-size-to($font-size-h5,1);
  @include margin-leader(0, $font-size-h5);
  @include margin-trailer(1, $font-size-h5);
}

h6 {
  @include adjust-font-size-to($font-size-h6,1);
  @include margin-leader(0, $font-size-h6);
  @include margin-trailer(1, $font-size-h6);
  color: $text-color-light;
}

small {
  @include margin-leader(0, $font-size-xs);
  @include margin-trailer(1, $font-size-xs);
  font-size: px-to-em($font-size-xs);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    color: $text-color-light;
  }
}

// h2 retains line height so this is removed to keep Vertical Rhythm
h2.element-invisible {
  line-height: 0;
}

// Modify the selected text color, accepts $color, $background
@include selection($select-text-color, $text-select-background);

// Thematic break
hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}

/* Lists */

dl,
menu,
ol,
ul,
.item-list ul /* Drupal override */ {
  // Sets half unit of vertical rhythm on the top and bottom margin.
  margin: rhythm(0.5) 0;
}

.item-list ul li /* Drupal override */ {
  margin: 0;
}

ul,
ol,
.item-list ul,
.item-list ol {
  ul,
  ol {
    margin: 0; // Turn off margins on nested lists.
  }
}

/* Description Lists */

dd {
  /* LTR */
  margin: 0 0 0 $typographic-indent;
}

dt {
  font-weight: bold;
}

dt,
dd {
  line-height: px-to-em($base-line-height);
}

/* Addresses paddings set differently in IE6/7 */

menu,
ol,
ul,
.item-list ul /* Drupal override */ {
  padding: 0 0 0 $typographic-indent;
}

// Corrects list images handled incorrectly in IE7.

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Quotes */

blockquote,
q {
  quotes: none;
}

blockquote,
q,
cite {
  font-style: italic;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

blockquote {
  @include leader(0);
  @include trailer(1);
  margin-left: 0;
  padding-left: $typographic-indent;
  border-left: 5px solid $text-border;
  > p {
    padding: 0;
  }
  small {
    display: block;
    color: $text-color-light;
    margin-bottom: 0;
    font-style: normal;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    @extend .pull-right;
    padding-left: 0;
    padding-right: $typographic-indent;
    border-left: 0;
    border-right: 5px solid $text-border;
    margin-right: 0;
    p,
    small {
      text-align: right;
    }
  }
}

blockquote {

  > p {
    padding: 0;
  }
}

/* Abbreviations */

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
  white-space: nowrap;
}

// Preformatted text and code

// Allows line wrapping of 'pre'

pre {
  @include adjust-font-size-to($font-size-normal,1);
  font-family: $mono-font-family;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
samp {
  @include adjust-font-size-to($font-size-sm,1);
  font-family: $mono-font-family;
}


/* Marked/inserted/deleted text */

mark {
  background: $text-marked;
}

ins {
  background: $text-inserted;
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* Others */

strong,
b,
dt {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

var,
address {
  font-style: normal;
}