/*
 * ==================================================
 * UPEI footer styling
 * ==================================================
 */

// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

/* UPEI footer module */

.footer-message {
  @include adjust-font-size-to($font-size-sm);
  text-align: right;
}

.footer-wrapper {
  @include leader(-2);
  @include trailer(0.5);
}

/* UPEI footer module */

.upei-footer {
  // IE6-8
  .ie6-8 &, .not-responsive & {
    .bottom-links {
      @include span-columns(2);
      &.menu-05 {
        margin-right: 0;
      }
    }
  }

  // Set the grid base to float
  .bottom-links {
    @include grid-item-base;
  }
  // Set the widths of each menu
  @include respond-to(desktop) {
    .bottom-links {
      @include span-columns(3,15);
      &.menu-05 {
        margin-right: 0;
      }
    }
  }
  @include respond-to(tablet-landscape) {
    .bottom-links {
      @include span-columns(3,15);
      &.menu-05 {
        margin-right: 0;
      }
    }
  }
  @include respond-to(tablet) {
    .menu-03, .menu-04, .menu-05 {
      @include span-columns(5,15);
    }
    .menu-01, .menu-02 {
      @include span-columns(6);
    }
    .menu-02, .menu-05 {
      margin-right: 0;
    }
  }
  @include respond-to(handheld-landscape) {
    .bottom-links {
      @include span-columns(6);
    }
    .menu-02, .menu-04 {
      margin-right: 0;
    }
    .menu-05 {
      @include span-columns(6);
    }
  }
  @include respond-to(handheld) {
    .bottom-links {
      @include span-columns(12);
    }
  }
  .footeraddress {
    @include span-columns(12, first);
    @include adjust-font-size-to($font-size-md, 1)
  }
}

.block-upei_footer {
  @include trailer(0.5);
}

.inner-footeraddress {
  padding-top: 10px;
  background: url("http://students.upei.ca/files/misc/shieldfooter.png") no-repeat right top;
  @include respond-to(handheld-all) {
    background: none;
  }
  .not-responsive & {
  }
  color: $link-color-hover-alt;
  @include adjust-font-size-to($font-size-md);
}

.links-last {
  text-align: center;
  @include leader(1);
}


