/*
 * ==================================================
 * Views overrides
 * ==================================================
 */

// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

// ---------------------------------------------------------------------------
// Local mixins are documented in utilities.scss, the rest are Compass mixins.
// Look here for the Compass mixin docs http://compass-style.org/index/mixins/
// ---------------------------------------------------------------------------

.view ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

#views-ajax-pad .form-buttons .form-submit {
  padding: 5px 10px;
}